<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Ltw" sortOrder="550" translate="label">
			<label>Ltw</label>
		</tab>
		<section id="magento_checker" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Magento Checker</label>
			<tab>Ltw</tab>
			<resource>Ltw_MagentoChecker::config_ltw_magentochecker</resource>
			<group id="configurable_cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
				<label>Cron Settings</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Check files on schedule</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="frequency" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Frequency</label>
					<source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
					<backend_model>Ltw\MagentoChecker\Model\Config\CronConfig</backend_model>
				</field>
				<field id="time" translate="label comment" sortOrder="3" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Start Time</label>
				</field>
			</group>
			<group id="sheduled_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
				<label>Sheduled settings</label>
				<field id="tmp_cron" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Sheduled settings</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
